@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262433;
  color: #fff;
  font-family: 'Press Start 2P', cursive; /* N64 style font */
  overflow: hidden;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  z-index: -2;
}

.waves {
  position: absolute;
  width: 200%;
  height: 200%;
  bottom: -50%;
  left: -50%;
  opacity: 0.2;
  z-index: -1;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* Responsive */
@media (max-width: 768px) {
  .waves {
    width: 300%;
    height: 300%;
    bottom: -100%;
    left: -100%;
  }

  .navigation {
    width: 150px;
    height: 150px;
    gap: 5px;
    padding: 5px;
  }

  .navigation a span i {
    font-size: 1em;
  }
}

.navigation {
  width: 250px;
  height: 250px;
  background: #171b21;
  position: relative;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  transition: 0.5s;
  border: 4px solid #fff; /* N64 style border */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* N64 style shadow */
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333849;
  border-radius: 50%;
  transition: background 0.5s, transform 0.5s;
  position: relative;
  text-decoration: none;
  border: 2px solid #fff; /* N64 style border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* N64 style shadow */
}

.navigation a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a span i {
  font-size: 1.5em;
  color: #fff;
  transition: color 0.5s, filter 0.5s;
}

.navigation a:hover {
  background: #444b59; /* Slightly lighter background on hover */
}

.navigation a:hover span i {
  color: #ffcc00; /* N64 style highlight color */
  filter: drop-shadow(0 0 2px #ffcc00) drop-shadow(0 0 5px #ffcc00) drop-shadow(0 0 15px #ffcc00);
}

h1 {
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  margin: 20px;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ffcc00; /* N64 style color */
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
